extends layout 
block layout-content 
    h1 We know what you want
    section#slideshow 
        div#container
            div.imgBox 
                img(src="/images/image1.jpg" alt="")
            div.imgBox 
                img(src="/images/image2.jpg" alt="")
            div.imgBox 
                img(src="/images/image3.jpg" alt="")
            div.imgBox 
                img(src="/images/image4.jpg" alt="")
            div.imgBox 
                img(src="/images/image5.jpg" alt="")
            div.imgBox
                img(src="/images/image6.jpg" alt="")
    