extends layout 
block layout-content 
    h1 We know what you want
    section#slideshow 
        div#container
            div.arrow.left 
                img(src="/images/arrow-left.svg", alt="left arrow")
            div.arrow.right 
                img(src="/images/arrow-right.svg" alt="right arrow")
            div.imgBox 
                img(src="/images/image1.jpg" alt="")
            div.imgBox 
                img(src="/images/image2.jpg" alt="")
            div.imgBox 
                img(src="/images/image3.jpg" alt="")
            div.imgBox 
                img(src="/images/image4.jpg" alt="")
            div.imgBox 
                img(src="/images/image5.jpg" alt="")
            div.imgBox
                img(src="/images/image6.jpg" alt="")
    